/**
 *
 * More info about this architecture can be found here:
 * http://www.sitepoint.com/architecture-sass-project/
 *
 */


// Sass utilities
@import "helpers/variables";
@import "helpers/functions";
@import "helpers/mixins";
@import "helpers/helpers";
 
// Vendors and external stylesheets
//@import "vendors/bootstrap";
 
// Base stuff
@import "base/reset";
@import "base/typography";
 
// Layout related stylesheets
@import "layout/grid";
@import "layout/header";
@import "layout/footer";
@import "layout/forms";
 
// Components and modules
@import "components/buttons";
@import "components/navigation";
 
// Page-specific stylesheets
@import "pages/home";
 
// Themes 
@import "themes/theme";